# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# Model files (if very large)
*.joblib

# OS files
.DS_Store
Thumbs.db